.header-box {
    display: inline-block;
    background-color: black;
    height: 100%;
    width: auto;
}

body {
    background-color: lightgray;
}

header {
    width: auto;
    height: 150px;
    background-color: dimgray;
    display: block;
    margin: -10px -10px 0px -10px;
}

.middle-box{
    display: block;
    width: auto;
    height: 600px;
    background-color: white;
    margin: 0px 200px 0px 200px;
}

.lower-box{
    display: block;
    width: auto;
    height: 100px;
    background-color: black;
    margin: 0px 200px -10px 200px;
}